/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/
/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
/*******************************************************************************
 * _base.scss
 *
 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupal's common elements for styling. By setting a solid baseline
 ******************************************************************************/
body {
  font-family: "Noto Sans", sans-serif;
}

button, input[type=submit] {
  margin-right: 1em;
  background: linear-gradient(#83BE26, #83BE26) repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 1px 0 #A8DD54 inset;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1.5em;
}

strong, b {
  font-weight: bold;
}

table {
  width: 100%;
}

/* Disable all Block titles */
.block__title {
  display: none;
}

/* Disable Language Selector on Editor Node Forms */
.quickbar-enabled .form-item-language {
  display: none !important;
}

/* Change IMCE user site height */
#browse-wrapper {
  height: 350px;
}

#preview-wrapper {
  height: 320px;
}

/* Image scale */
img {
  max-width: 100%;
  height: auto;
}

/* Image captions */
/*.caption {
  display: none;
}*/
.caption p {
  font-size: .8em;
  font-weight: normal;
  fonst-style: italic;
  line-height: 1.2;
  margin-top: .2em;
  display: none;
}

/* No gap between headline and first paragraph */
h2, h4 {
  margin-bottom: 0;
}

h2 + p, h4 + p, h2 + h4 {
  margin-top: 0;
}

.l-content ol li {
  display: list-item !important;
  margin-left: 1em;
  list-style: inherit !important;
}
.l-content ol li a {
  display: inline-block !important;
  vertical-align: top !important;
  line-height: inherit !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: content-box;
}

div.quickbar-links, div#quickbar, div#quickbar * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 74em;
  _width: 74em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.l-header:after,
.l-main:after,
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

.l-region--highlighted,
.l-region--help,
.l-region--slideshow,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  background: #83BE26;
}

.site-slogan {
  background: #83BE26;
  width: 100%;
  text-align: left;
  padding: 1em 2em;
  margin: 0;
  clear: none;
}
@media (min-width: 49em) {
  .site-slogan {
    text-align: left;
  }
}
@media (min-width: 59em) {
  .site-slogan {
    /*margin-top:182px;*/
    width: auto;
    background: transparent;
  }
}

.l-content {
  margin-top: 4em;
  /*float: left;*/
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  clear: both;
  margin-top: 0;
}

h2 {
  font-size: 1.17em;
  font-weight: bold;
  clear: both;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: -.714em;
  line-height: 1.416;
  clear: both;
}

a {
  color: #464749;
  font-weight: bold;
}

a:hover {
  color: #000;
}

hr {
  border: 0;
  width: 80%;
  color: #83BE26;
  background-color: #83BE26;
}

a img {
  border: 0;
}

.l-content {
  background: #fff;
  padding: 1em;
}
@media (min-width: 49em) {
  .l-content {
    margin-top: 2em;
  }
}

.l-page {
  *zoom: 1;
  max-width: 49em;
  _width: 49em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 49em;
  _width: 49em;
  padding: 0;
}
.l-page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 74em) {
  .l-page {
    *zoom: 1;
    max-width: 74em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .l-page:after {
    content: "";
    display: table;
    clear: both;
  }
}

.headwrap {
  height: 199px;
  background: url(../images/welle.png) center bottom repeat-x #fff;
}

.l-header .block--domain-nav-default, .l-header .block--lang-dropdown,
.l-header .block--locale-language-content {
  padding: .5em 0 0 1em;
  /*@include at-breakpoint($tablet) {
    @include span-columns(3, $main-columns);
    margin:$gutter-width 0 0 $gutter-width;
    padding: 0;
  }
  @include at-breakpoint($break) {
    @include span-columns(3, 15);
  }*/
}
.l-header .block--domain-nav-default ul, .l-header .block--lang-dropdown ul,
.l-header .block--locale-language-content ul {
  list-style: none;
  padding: 0;
}
.l-header .l-branding {
  width: 28.57143%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  background: #fff;
}
.l-header .l-branding img {
  margin: 0;
  /*float:left;*/
}
.l-header .l-region--header {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
.l-header .l-region--navigation {
  background: #fff;
  padding: 0 2em;
  margin-bottom: 1em;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
@media (min-width: 49em) {
  .l-header .l-region--navigation {
    width: 79.59184%;
    float: right;
    margin-right: 0;
    margin-left: 20.40816%;
  }
}
@media (min-width: 69em) {
  .l-header .l-region--navigation {
    background: transparent;
    padding: 0;
    width: 48.97959%;
    float: right;
    margin-right: 0;
    margin-left: 0%;
  }
}

.l-main {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
.l-main .l-region--slideshow {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-left: 0;
  margin-top: 1.5em;
}
.l-main .l-content {
  font-size: 14px;
  line-height: 1.714;
  padding-top: 2em;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
.l-main .l-region--sidebar-first {
  font-size: .75em;
  line-height: 1.416;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-left: 0;
  margin-top: 5px;
}
.l-main .l-region--sidebar-second {
  font-size: .75em;
  line-height: 1.416;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 2.3em;
}

.l-region--bottom-left {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  color: #eeeded;
  font-size: 12px;
}
.l-region--bottom-left p {
  margin: 1.8em 0 0 0;
}

.l-region--bottom-right {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  text-align: right;
}

@media (min-width: 74em) {
  .l-footer {
    margin: 0 auto;
  }
}

.block--block--1, .block--block-1 {
  padding-left: 90px;
  background: url(../images/eu_flag.png) 0 4px no-repeat;
  font-size: 12px;
  margin-top: 2em;
  line-height: 1.416;
  min-height: 55px;
  max-width: 450px;
}

.l-region--footer-left {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-left: 1em;
}

.l-region--footer-right {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-right: 1em;
}

.block--menu-menu-footer-menu {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

.block--block--2, .block--block-2 {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  float: right;
  width: auto;
}

@media (min-width: 24em) {
  .l-page {
    padding: 0 2em;
  }

  .headwrap {
    background: url(../images/welle_1920px.png) center bottom repeat-x #fff;
  }

  .l-footer .l-region--footer-left {
    padding-right: 0;
  }
  .l-footer .l-region--footer-right {
    padding-left: 0;
  }
}
@media (min-width: 49em) {
  .l-page {
    max-width: 74em;
    padding: 0 1em;
  }

  .l-header, .l-main, .l-footer {
    max-width: 74em;
  }

  .l-header {
    /* .block--search-form {
       @include span-columns(2, $main-columns);
     }*/
    /*.l-region--navigation {
      background: transparent;
      padding: 0;
      @include span-columns(5 omega, $main-columns);
    }*/
  }
  .l-header .l-region--header {
    width: 18.36735%;
    float: left;
    margin-right: 2.04082%;
  }
  .l-header .l-branding {
    width: 28.57143%;
    float: left;
    margin-right: 2.04082%;
    background: transparent;
  }
  .l-header .l-branding img {
    margin: 0 0 0 -10%;
  }
  .l-header .l-branding .site-slogan {
    padding: 0 0 1em .5em;
    white-space: nowrap;
  }

  .l-main {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  .l-main .l-region--slideshow {
    width: 79.59184%;
    float: right;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1.5em;
  }
  .l-main .l-content {
    font-size: 14px;
    line-height: 1.714;
    padding-top: 2em;
    width: 59.18367%;
    float: left;
    margin-right: 2.04082%;
    margin-left: 20.40816%;
  }
  .l-main .l-region--sidebar-first {
    font-size: .75em;
    line-height: 1.416;
    width: 18.36735%;
    float: left;
    margin-right: 2.04082%;
    /*@include pull(8, $main-columns);*/
    margin-right: -100%;
    margin-left: -8.16327%;
    margin-left: 0;
    margin-top: 5px;
  }
  .l-main .l-region--sidebar-second {
    font-size: .75em;
    line-height: 1.416;
    width: 18.36735%;
    float: right;
    margin-right: 0;
    margin-top: 2.3em;
  }

  .l-region--bottom-left {
    width: 48.97959%;
    float: left;
    margin-right: 2.04082%;
  }

  .l-region--bottom-right {
    width: 48.97959%;
    float: right;
    margin-right: 0;
  }

  .l-region--footer-left {
    width: 38.77551%;
    float: left;
    margin-right: 2.04082%;
  }

  .l-region--footer-right {
    width: 59.18367%;
    float: right;
    margin-right: 0;
  }

  .block--menu-menu-footer-menu {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  /*  .l-footer {
    display:table;
  }*/
}
@media (min-width: 74em) {
  .front .l-main {
    margin-top: 0 !important;
  }
  .front .l-content {
    margin-top: 0 !important;
  }
  .front .l-region--sidebar-second {
    margin-top: 0 !important;
  }

  .l-header, .l-main, .l-footer {
    max-width: 74em;
  }

  /*Languages*/
  .l-region--header {
    width: 18.91892%;
    float: left;
    margin-right: 1.35135%;
  }

  .l-branding {
    width: 18.91892%;
    float: left;
    margin-right: 1.35135%;
  }
  .l-branding img {
    margin: 0 0 0 -5% !important;
  }

  /*.petob {
    @include span-columns(7 omega, $break);
  }*/
  .l-main {
    margin-top: -1.5em;
    width: 100%;
    float: right;
    margin-right: 0;
  }
  .l-main .l-region--slideshow {
    width: 79.72973%;
    float: right;
    margin-right: 0;
    /*@include push(3, $main-columns);*/
    margin-left: 0;
    margin-top: 1.5em;
  }
  .l-main .l-region--sidebar-first {
    width: 18.91892%;
    float: left;
    margin-right: 1.35135%;
    margin-right: -100%;
    margin-left: -5.40541%;
    margin-left: 0;
    margin-top: 5px;
  }
  .l-main .l-content {
    width: 59.45946%;
    float: left;
    margin-right: 1.35135%;
    margin-left: 20.27027%;
    background: #fff;
    margin-top: 4.2em;
    padding: 2em;
  }
  .l-main .l-region--sidebar-second {
    width: 18.91892%;
    float: right;
    margin-right: 0;
    margin-top: 4.9em;
  }
}
/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/
.site-logo {
  margin: 0 10em 0 7em;
}

.site-slogan {
  color: #fff;
  font-size: .95em;
  font-weight: normal;
  float: left;
}

body#widget, #block-views-petitions-block-1 {
  background: transparent;
  width: 100%;
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
  /*.views-row a {
      padding-left: 50px;
  }*/
}
body#widget .node--petition-widg, #block-views-petitions-block-1 .node--petition-widg {
  width: 100%;
  position: relative;
}
body#widget .ui-widget, #block-views-petitions-block-1 .ui-widget {
  font-size: 12px;
}
body#widget header h2, #block-views-petitions-block-1 header h2 {
  background: #83BE26;
  padding-left: 0;
  min-height: 0;
  text-align: center;
  border: 1px solid #83BE26;
  margin: 0;
  padding: .5em 0;
}
body#widget header h2 a, #block-views-petitions-block-1 header h2 a {
  color: #fff;
  text-decoration: none;
  padding-left: 0 !important;
}
body#widget h3, #block-views-petitions-block-1 h3 {
  margin-bottom: 1em;
  text-align: center;
}
body#widget ol, #block-views-petitions-block-1 ol {
  list-style: none;
  padding: 0;
}
body#widget ol li a, #block-views-petitions-block-1 ol li a {
  display: block;
  font-weight: normal;
  line-height: 22px;
  text-decoration: none;
  vertical-align: middle;
}
body#widget .field--name-title-field, #block-views-petitions-block-1 .field--name-title-field {
  display: none;
}
body#widget .webform-client-form-15, body#widget .webform-client-form-15--2, #block-views-petitions-block-1 .webform-client-form-15, #block-views-petitions-block-1 .webform-client-form-15--2 {
  margin: 1em 0;
  padding-bottom: 1em;
  width: 45%;
  position: relative;
  float: right;
}
body#widget .webform-client-form label, #block-views-petitions-block-1 .webform-client-form label {
  top: 5px;
}
body#widget .field--name-field-petition-short-demands, #block-views-petitions-block-1 .field--name-field-petition-short-demands {
  float: left;
  width: 50%;
}
body#widget .field--name-field-petition-short-demands ul, #block-views-petitions-block-1 .field--name-field-petition-short-demands ul {
  padding-left: 1em;
}
body#widget .field--name-field-petition-short-demands ul li, #block-views-petitions-block-1 .field--name-field-petition-short-demands ul li {
  font-weight: bold;
  margin-bottom: .5em;
}
body#widget #webform-component-mandatory-note, #block-views-petitions-block-1 #webform-component-mandatory-note {
  right: 25px;
}
body#widget #webform-component-mandatory-note p, #block-views-petitions-block-1 #webform-component-mandatory-note p {
  margin: 0;
}
body#widget .webform-component-textfield,
body#widget .webform-component-textfield input,
body#widget .webform-component-email input,
body#widget .webform-component-email,
body#widget .select-or-other-other, #block-views-petitions-block-1 .webform-component-textfield,
#block-views-petitions-block-1 .webform-component-textfield input,
#block-views-petitions-block-1 .webform-component-email input,
#block-views-petitions-block-1 .webform-component-email,
#block-views-petitions-block-1 .select-or-other-other {
  max-width: 233px;
  width: 93%;
  text-align: left;
}
body#widget #webform-component-i-want-more-info-by-email, #block-views-petitions-block-1 #webform-component-i-want-more-info-by-email {
  margin: 0;
  padding-right: 0;
  position: static;
  float: left;
  width: 100%;
}
body#widget .webform-client-form-15 .form-actions,
body#widget .webform-client-form-15--2 .form-actions, #block-views-petitions-block-1 .webform-client-form-15 .form-actions,
#block-views-petitions-block-1 .webform-client-form-15--2 .form-actions {
  float: left;
  margin: 0 0 .5em 0;
  text-align: left;
}
body#widget .webform-client-form-15 .form-actions input,
body#widget .webform-client-form-15--2 .form-actions input, #block-views-petitions-block-1 .webform-client-form-15 .form-actions input,
#block-views-petitions-block-1 .webform-client-form-15--2 .form-actions input {
  margin-top: .5em;
}
body#widget .webform-component-select, #block-views-petitions-block-1 .webform-component-select {
  float: left;
  text-align: left;
}
body#widget .pgbar-wrapper, #block-views-petitions-block-1 .pgbar-wrapper {
  float: left;
  width: 50%;
  margin: 1.7em 0;
}
body#widget .webform-confirmation, #block-views-petitions-block-1 .webform-confirmation {
  position: absolute;
  background: #fff;
  z-index: 10;
  margin-left: -5px;
  height: 80%;
}
body#widget .field--name-field-petition-foto, #block-views-petitions-block-1 .field--name-field-petition-foto {
  position: absolute;
  bottom: 0;
  right: 1em;
  z-index: 11;
}
body#widget .field--name-field-petition-addendum, #block-views-petitions-block-1 .field--name-field-petition-addendum {
  font-size: 11px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.2em;
}
body#widget .field--name-field-petition-addendum p:last-child, #block-views-petitions-block-1 .field--name-field-petition-addendum p:last-child {
  max-width: 65%;
}
body#widget #demands, #block-views-petitions-block-1 #demands {
  padding-bottom: 75px;
}
body#widget .ui-accordion .ui-accordion-content, #block-views-petitions-block-1 .ui-accordion .ui-accordion-content {
  padding: 0 10px !important;
}
body#widget .views-row-1 .views-accordion-header a, #block-views-petitions-block-1 .views-row-1 .views-accordion-header a {
  background: url(../images/Demand-Icon-1.png) left center no-repeat;
}
body#widget .views-row-2 .views-accordion-header a, #block-views-petitions-block-1 .views-row-2 .views-accordion-header a {
  background: url(../images/Demand-Icon-2.png) left center no-repeat;
}
body#widget .views-row-3 .views-accordion-header a, #block-views-petitions-block-1 .views-row-3 .views-accordion-header a {
  background: url(../images/Demand-Icon-3.png) left center no-repeat;
}
body#widget .views-row-4 .views-accordion-header a, #block-views-petitions-block-1 .views-row-4 .views-accordion-header a {
  background: url(../images/Demand-Icon-4.png) left center no-repeat;
}
body#widget .horizontal-tabs, #block-views-petitions-block-1 .horizontal-tabs {
  background: url(../images/welle.png) bottom left repeat-x #fff;
  border: 1px solid #CCCCCC;
  border-color: #fff #83BE26 #83BE26 #83BE26;
  margin: 0 0 1em;
  padding: 0;
  position: relative;
}
body#widget .horizontal-tabs .horizontal-tabs-pane, #block-views-petitions-block-1 .horizontal-tabs .horizontal-tabs-pane {
  margin: 0;
  padding-bottom: 1em;
  background: url(https://de.makechocolatefair.org/sites/makechocolatefair.org/files/mcf-logo_0.png) no-repeat bottom right;
  background-size: auto 100px;
}
body#widget .horizontal-tabs ul.horizontal-tabs-list, #block-views-petitions-block-1 .horizontal-tabs ul.horizontal-tabs-list {
  background: #eee;
}
body#widget .horizontal-tabs ul.horizontal-tabs-list li, #block-views-petitions-block-1 .horizontal-tabs ul.horizontal-tabs-list li {
  border: 0;
  padding: 0;
  margin: 1px 1px 0 0;
}
body#widget .horizontal-tabs ul.horizontal-tabs-list li a, #block-views-petitions-block-1 .horizontal-tabs ul.horizontal-tabs-list li a {
  border: 0;
  padding: .5em 1em;
}
body#widget .horizontal-tabs ul.horizontal-tabs-list li a:hover, #block-views-petitions-block-1 .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background: #999;
  color: #fff;
  border: 0;
}
body#widget .horizontal-tabs ul.horizontal-tabs-list li.selected,
body#widget .horizontal-tabs ul.horizontal-tabs-list li.selected a:hover, #block-views-petitions-block-1 .horizontal-tabs ul.horizontal-tabs-list li.selected,
#block-views-petitions-block-1 .horizontal-tabs ul.horizontal-tabs-list li.selected a:hover {
  background: #464749;
  color: #fff;
  border: 0;
  cursor: default;
}
body#widget .horizontal-tabs ul.horizontal-tabs-list li.selected strong, #block-views-petitions-block-1 .horizontal-tabs ul.horizontal-tabs-list li.selected strong {
  color: #fff;
  border: 0;
}

h2.widget-title {
  background: #83BE26;
  border: 1px solid #83BE26;
  color: #fff;
  margin: 0;
  padding: .5em 1em;
  text-align: left;
  min-height: 0;
}

iframe#widgets-0 {
  width: 100%;
  min-height: 100vmax;
}

.view-id-petitions .webform-client-form > div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.webform-component--betreff {
  max-width: 100% !important;
  width: auto !important;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start !important;
  margin-bottom: 1rem !important;
}

.webform-component--betreff input {
  max-width: 100% !important;
  width: 100% !important;
}

.webform-component--nachricht {
  width: 100%;
}

#edit-submitted-inkota-newsletter-abonnieren,
#widget .horizontal-tabs-pane p:last-of-type,
.view-id-petitions .horizontal-tabs-pane ul {
  max-width: calc(100% - 140px);
}

#jquery-ui-filter .ui-icon {
  right: 0 !important;
  left: unset !important;
  margin-top: -15px;
}

.view-id-petitions .ui-accordion a,
.block--webform .ui-accordion a {
  border-bottom: 1px solid #83BE26;
  display: block;
}

#edit-submitted-inkota-newsletter-abonnieren {
  margin: .5rem 0;
}

.view-id-petitions .form-actions {
  margin: 1rem 0 1.5rem;
}

#webform-client-form-1085 {
  background: #FFB900;
  padding: 1rem;
}

/* Action Links Blocks */
.block--block-10 a, .block--block-11 a, .block--block-12 a {
  text-decoration: none;
  font-size: 19px;
  font-weight: normal;
  letter-spacing: -.09em;
  float: right;
  height: 31px;
  padding: 2px 41px 0 0;
  margin-top: 5px;
  text-shadow: 1px 1px 1px #f3f3f3, 1px -1px 1px #f3f3f3, -1px 1px 1px #f3f3f3, -1px -1px 1px #f3f3f3;
}

.block--block-10 a:hover, .block--block-11 a:hover, .block--block-12 a:hover {
  text-shadow: -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
}

.block--block-10 p, .block--block-11 p, .block--block-12 p {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

/* Sign Petition Block */
/* with images */
.block--block--3 a, .block--block--7 a, .block--block-3 a, .block--block-7 a {
  background: url(../images/actions.gif) 0 0 no-repeat;
  width: 175px;
  height: 36px;
  text-indent: -999em;
  display: block;
  float: right;
  margin-right: -5px;
}

.block--block--3 a:hover, .block--block--7 a, .block--block-3 a:hover, .block--block-7 a {
  background-position: -174px 0;
}

/* without images */
.block--block-10 a {
  color: #C52E00;
}

.front .block--block-10 a, .not-front .block--block-10 a:hover {
  background: url(../images/action_icons.gif) right top no-repeat;
  text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}

.not-front .block--block-10 a {
  background: url(../images/action_icons.gif) right -93px no-repeat;
}

.block--block--4 a, .block--block--8 a, .block--block-4 a, .block--block-8 a {
  background: url(../images/actions.gif) 0 -36px no-repeat;
  width: 175px;
  height: 35px;
  text-indent: -999em;
  display: block;
  float: right;
  margin-right: -5px;
}

.block--block--4 a:hover, .block--block--8 a, .block--block-4 a:hover, .block--block-8 a {
  background-position: -174px -36px;
}

.block--block-11 a {
  color: #F39200;
}

.section-get-newsletter .block--block-11 a,
.section-newsletter .block--block-11 a,
.block--block-11 a:hover {
  background: url(../images/action_icons.gif) right -31px no-repeat;
  text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}

.block--block-11 a {
  background: url(../images/action_icons.gif) right -125px no-repeat;
}

.form-item-mail {
  float: left;
}

.simplenews-subscribe input[type=submit] {
  background: linear-gradient(#83be26, #83be26) repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 1px 0 #A8DD54 inset;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1.5em;
  font-size: 1em;
  font-weight: bold;
  border: 0;
  float: left;
  margin: 1.7em 0 0 1em;
}

.issues-link {
  clear: both;
}

.block--block--5 a, .block--block--9 a, .block--block-5 a, .block--block-9 a {
  background: url(../images/actions.gif) 0 -71px no-repeat;
  width: 175px;
  height: 40px;
  text-indent: -999em;
  display: block;
  float: right;
  margin-bottom: 16px;
  margin-right: -5px;
}

.block--block--5 a:hover, .block--block--9 a, .block--block-5 a:hover, .block--block-9 a {
  background-position: -174px -71px;
}

.block--block-12 a {
  color: #7B3F06;
}

.section-donate .block--block-12 a,
.section-donate-now .block--block-12 a,
.section-spenden .block--block-12 a,
.block--block-12 a:hover {
  background: url(../images/action_icons.gif) right -62px no-repeat;
  text-shadow: 1px 1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, -1px -1px 1px #fff;
}

.block--block-12 a {
  background: url(../images/action_icons.gif) right -156px no-repeat;
}

.block--views-news-events-block article {
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
.block--views-news-events-block p {
  -ms-word-break: break-word;
  word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-before: 3;
  hyphenate-before: 3;
  hyphenate-after: 3;
  hyphenate-lines: 2;
}
.block--views-news-events-block h2 a {
  text-decoration: none;
  color: #F39200;
  font-weight: normal;
}
.block--views-news-events-block footer {
  display: none;
}
.block--views-news-events-block .node-readmore {
  margin-bottom: 1em;
}

.node--news-events--teaser img {
  float: left;
  margin: .2em 1em 0 0;
}

#block-system-main-menu {
  background: #fff;
  clear: both;
  margin-top: 2em;
}
#block-system-main-menu ul {
  list-style-image: none;
  list-style: none;
  padding: 1em;
  margin-left: -.3em;
}
#block-system-main-menu ul li {
  text-align: right;
  list-style-image: none;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #83BE26;
}
#block-system-main-menu ul li a {
  color: #464749;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: .4em 2.2em .3em 0;
  margin-right: -25px;
  font-weight: normal;
  font-size: 1.25em;
}
#block-system-main-menu ul li a.active, #block-system-main-menu ul li a.active:hover, #block-system-main-menu ul li a:active {
  background: url(../images/menu.png) right 0 no-repeat;
}
#block-system-main-menu ul li a:hover {
  background: url(../images/menu.png) right -35px no-repeat;
}
#block-system-main-menu ul li ul {
  padding: 0;
}
#block-system-main-menu ul li ul li {
  border: none;
}
#block-system-main-menu ul li ul li a {
  font-size: 12px;
  text-transform: none;
  padding: .5em 2.9em .3em 0 !important;
  background: none;
  line-height: 1.2;
}
#block-system-main-menu ul li ul li a.active, #block-system-main-menu ul li ul li a.active:hover, #block-system-main-menu ul li ul li a:active {
  background: url(../images/menu.png) right -3px no-repeat;
}
#block-system-main-menu ul li ul li a:hover {
  background: url(../images/menu.png) right -38px no-repeat;
}
#block-system-main-menu ul li.expanded a {
  padding-bottom: 0;
}
#block-system-main-menu ul li.last {
  border: none;
}
#block-system-main-menu ul ul li.last {
  padding-bottom: 1em;
}
#block-system-main-menu ul .active {
  font-weight: 700;
}

.block--menu-menu-footer-menu {
  font-size: 12px;
  margin: 1.5em 0;
}
.block--menu-menu-footer-menu ul {
  float: right;
  margin: 0;
}
.block--menu-menu-footer-menu ul li {
  list-style: none !important;
  float: left;
  margin-right: 0.5em;
  display: inline-block;
}
.block--menu-menu-footer-menu ul li a {
  color: #464749;
  text-decoration: none;
  display: inline-block;
  padding-right: 0.5em;
  border-right: 1px solid #464749;
  font-weight: normal;
  line-height: 1;
}
.block--menu-menu-footer-menu ul li a:hover {
  color: #000;
}
.block--menu-menu-footer-menu .last a {
  border: none;
}
.block--menu-menu-footer-menu .active {
  font-weight: 700;
}

.footwrap {
  color: #72a522;
  background: #E2E2E2;
  overflow: hidden;
}

.l-region--footer-left {
  margin-bottom: 1em;
}

.block--block--14, .block--block-14 {
  font-size: 12px;
  display: table-cell;
  margin-top: 1em;
  margin-bottom: 1em;
}
.block--block--14 img, .block--block-14 img {
  vertical-align: middle;
  margin-bottom: -.7em;
}
.block--block--14 p, .block--block--14 p span, .block--block-14 p, .block--block-14 p span {
  vertical-align: bottom;
}
.block--block--14 p span, .block--block-14 p span {
  margin-bottom: 1px;
  display: inline-block;
}

.footer-bottom ul {
  float: left;
  margin-top: 2em;
}
.footer-bottom li {
  float: left;
  list-style: none outside none;
  margin: 0 1em 1em 0;
}

.form-item {
  margin: 0;
}

.group-petitionbox {
  margin: 0 -1em;
  border: 10px solid #ccc;
  /*border-radius: 26px;*/
  background: #eee;
  padding: 1em;
  /*float: left;*/
  position: relative;
}
@media (min-width: 74em) {
  .group-petitionbox {
    margin: 0 -1em;
  }
}
.group-petitionbox h3 {
  display: none;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#webform-client-form-15 .webform-client-form {
  display: none;
  width: 75%;
  margin-left: 48px;
  margin-top: 2em;
  padding-bottom: 2em;
  overflow: hidden;
}
#webform-client-form-15 .webform-client-form label {
  font-weight: normal;
  font-size: 12px;
  top: 1px;
  margin-left: 3px;
}

.webform-component-textfield,
.webform-component-textfield input,
.webform-component-email input,
.webform-component-email {
  width: 93%;
}

.select-or-other-other {
  float: right;
  width: 81%;
}

#webform-client-form-15 .webform-component {
  margin: 0 4% .5em 0;
  position: relative;
}
@media (min-width: 49em) {
  #webform-client-form-15 .webform-component {
    float: left;
    width: 46%;
  }
}

.webform-component-textfield {
  clear: left;
}

.webform-component-select select {
  width: 175px;
}
@media (min-width: 49em) {
  .webform-component-select {
    float: right;
    text-align: right;
  }
  .webform-component-select label {
    margin: 0;
  }
}

.webform-component-email, #webform-component-city {
  clear: left;
}

#webform-component-i-want-more-info-by-email {
  /* margin: -2.5em 4% 0.9em 0;
   padding-right: 5px;
   text-align: right;*/
  float: left;
  width: 70%;
  position: absolute;
  bottom: 0;
  line-height: 1;
}

@media (min-width: 49em) {
  .webform-client-form-15 .form-actions,
  .webform-client-form-15--2 .form-actions {
    float: right;
    text-align: right;
    margin: -.7em 2% 10px 0;
    width: 46%;
  }
}
@media (min-width: 74em) {
  .webform-client-form-15 .form-actions,
  .webform-client-form-15--2 .form-actions {
    float: none;
    margin: 0;
    width: 100%;
  }
}
.webform-client-form-15 .form-actions input,
.webform-client-form-15--2 .form-actions input {
  background: linear-gradient(#83be26, #83be26) repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 1px 0 #A8DD54 inset;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1.5em;
  font-size: 1em;
  font-weight: bold;
  border: 0;
}

#webform-client-form-15 .webform-component-markup {
  position: absolute;
  bottom: 0;
  margin: 0;
  right: 1em;
  width: auto;
  font-size: 12px;
}

.webform-confirm-email-response-form #edit-cancel {
  display: none;
}

.field--name-field-petition-addendum {
  clear: both;
  float: left;
  margin-top: 1em;
  font-size: 12px;
  line-height: 1.416;
}

#webform-ajax-wrapper-15 {
  display: none;
}

.block--views-ds-progress-block-block {
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
.block--views-ds-progress-block-block h2 {
  display: none;
}
.block--views-ds-progress-block-block .petlink {
  font-weight: normal;
  text-decoration: none;
}

.pgbar-wrapper {
  margin-bottom: 1em;
}

.pgbar-bg {
  border-radius: 5px;
  overflow: hidden;
}

.pgbar-current {
  background: url(../images/schokobalken.png) top right #83BE26;
  height: 30px;
}

.front .l-content .views-row-1 a {
  background: url(../images/Demand-Icon-1.png) left center no-repeat;
}
.front .l-content .views-row-2 a {
  background: url(../images/Demand-Icon-2.png) left center no-repeat;
}
.front .l-content .views-row-3 a {
  background: url(../images/Demand-Icon-3.png) left center no-repeat;
}
.front .l-content .views-row-4 a {
  background: url(../images/Demand-Icon-4.png) left center no-repeat;
}

#block-addtoany-addtoany-button .block__title {
  display: block;
}

#a2apage_any_email {
  display: none !important;
}

/* For standard sharing menu */
#a2amail_any_email {
  display: none !important;
}

/* For the email-only menu */
#a2apage_EMAIL {
  display: none !important;
}

#a2apage_BROWSER {
  display: none !important;
}

.addtoany_share_save {
  display: none !important;
}

.a2a_default_style a {
  padding: 0 15px 0 0;
}

/* Petition Block */
.view-petition-block {
  font-size: 10px;
}
.view-petition-block .views-field.views-field-title {
  background: none repeat scroll 0 0 #83BE26;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2em;
  padding: 0 1em;
}
.view-petition-block .views-field-field-progress {
  float: left;
  margin-bottom: 1em;
  line-height: 1.2;
  width: 35%;
}
.view-petition-block .views-field.views-field-webform-form-body {
  float: left;
  position: relative;
  width: 62%;
  margin-left: 3%;
}
.view-petition-block .webform-client-form {
  margin-left: 0;
  margin-top: 1em;
  overflow: hidden;
  position: relative;
  padding-bottom: 2em;
  width: 100%;
  /*input {
      padding: 0;
  }
  input[type="submit"] {
      padding: 0.5em 1.5em;
  }*/
}
.view-petition-block .webform-client-form label, .view-petition-block .webform-client-form select, .view-petition-block .webform-client-form input, .view-petition-block .webform-client-form input[type="submit"],
.view-petition-block .webform-client-form .webform-component-markup {
  font-size: 10px;
}
.view-petition-block .webform-component {
  margin: 0 4% 0 0;
}
.view-petition-block .webform-component-select select {
  width: 160px;
}
.view-petition-block #webform-component-i-want-more-info-by-email {
  position: static;
  float: left;
  width: 60%;
}

.view-petitions .attachment .description {
  font-size: 1em;
  margin-top: 5px;
  font-style: italic;
}

/* Petition Block oben */
.petob {
  margin: 1em 0 0;
  padding: 1em;
  background: #fff;
  font-size: .75em;
  float: left;
  /*    .webform-client-form-15 .form-actions {
          position: static;
         }*/
}
.petob .ds-2col-fluid > .group-left {
  width: 100%;
}
@media (min-width: 34em) {
  .petob .ds-2col-fluid > .group-left {
    width: 40%;
  }
  .petob .ds-2col-fluid > .group-left ul {
    padding-left: 1em;
  }
}
.petob .ds-2col-fluid > .group-right {
  width: 100%;
  position: relative;
}
@media (min-width: 34em) {
  .petob .ds-2col-fluid > .group-right {
    width: 60%;
  }
}
.petob .webform-component {
  width: auto;
  float: left;
}
.petob .webform-component-select select {
  width: 160px;
}
.petob .webform-client-form {
  margin: 1em 0 0 1em;
  padding-bottom: 0;
  width: 100%;
}
.petob .webform-client-form label {
  top: 5px;
  font-size: 1em;
}
.petob #webform-component-name {
  width: 100%;
}
@media (min-width: 49em) {
  .petob #webform-component-name {
    width: 46%;
  }
}
.petob #webform-component-country {
  width: 100%;
}
@media (min-width: 49em) {
  .petob #webform-component-country {
    width: 46%;
  }
}
.petob .webform-component-email {
  width: 100%;
}
@media (min-width: 49em) {
  .petob .webform-component-email {
    width: 46%;
  }
}
.petob #webform-component-city {
  width: 100%;
}
@media (min-width: 49em) {
  .petob #webform-component-city {
    width: 46%;
  }
}
.petob #webform-component-i-want-more-info-by-email {
  position: static;
  width: 100%;
}
@media (min-width: 49em) {
  .petob #webform-component-i-want-more-info-by-email {
    width: 55%;
  }
}
.petob #webform-component-mandatory-note {
  right: 0;
  text-align: right;
  max-width: 130px;
}
.petob .select-or-other-other {
  width: 100%;
  margin-top: .3em;
}
.petob .form-submit {
  width: 93%;
  max-width: 250px;
  margin: 0 0 2em 0;
}

@media (min-width: 24em) {
  .petob {
    margin: 1em 2em 0;
  }
}
@media (min-width: 49em) {
  .petob {
    margin: 1em 1em 0;
  }
}
@media (min-width: 74em) {
  .petob {
    margin: 0;
    padding: 0;
    background: transparent;
  }
  .petob .form-submit {
    width: 49%;
  }
}
.page-demands .views-row h2 {
  padding-left: 50px;
  min-height: 38px;
}
.page-demands .views-row-1 h2 {
  background: url(../images/Demand-Icon-1.png) left center no-repeat;
}
.page-demands .views-row-2 h2 {
  background: url(../images/Demand-Icon-2.png) left center no-repeat;
}
.page-demands .views-row-3 h2 {
  background: url(../images/Demand-Icon-3.png) left center no-repeat;
}
.page-demands .views-row-4 h2 {
  background: url(../images/Demand-Icon-4.png) left center no-repeat;
}
.page-demands .views-row article header {
  display: none;
  min-height: 0;
  height: 0;
}

.view-demands .ui-accordion .ui-accordion-header .ui-icon {
  right: 0.5em !important;
  left: auto !important;
}

.ui-accordion .ui-accordion-icons {
  padding-left: unset;
}

.ui-accordion-icons .ui-accordion-header a,
.front .l-content .views-row a {
  padding-left: 3.5em !important;
  min-height: 44px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none !important;
  border: 0 !important;
  margin-bottom: 1em;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-content {
  border: 0 !important;
  background: none !important;
}

.ui-accordion .ui-accordion-content {
  padding: 0 25px 0 50px !important;
}

.view-demands .ui-widget-content p {
  margin-top: 0;
}

.ui-widget {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}

.l-content ol {
  padding: 0;
}
.l-content ol li {
  display: inline-block;
  list-style: none;
  margin-bottom: 1em;
}
.l-content ol li a {
  vertical-align: middle;
  text-decoration: none;
  display: block;
  line-height: 22px;
  font-weight: normal;
}
.l-content ol li img {
  float: left;
  border: 0;
  margin-right: 5px;
}

#cboxClose {
  border-radius: 0;
  box-shadow: none;
}

#cboxContent header {
  display: none;
}

/* Country Switcher */
.dd_after .ddTitle {
  background: #fff;
  padding: 0;
  height: 17px;
  width: 45px;
  border: 0;
}

.dd_after .ddTitle span.arrow {
  background: url("../images/dd_arrow.gif") no-repeat scroll 0 0 transparent;
}

.dd_after .ddChild {
  border: 0;
  box-shadow: 1px 1px 5px #ccc;
  width: 32px !important;
  height: auto !important;
}

.dd_after .ddChild a {
  padding: 0 0 2px 0;
  line-height: 21px;
}

.ddChild span, .ddTitleText span {
  display: none;
}

/* Language Switcher */
.language-switcher-locale-url {
  list-style: none;
  /*@include at-breakpoint(10) {
      @include span-columns(6, 10);
  }
  @include at-breakpoint(15) {
      @include span-columns(10, 15);
  }*/
}
.language-switcher-locale-url li {
  float: left;
  width: 35px;
}

/* Disable WYSIWYG HTML HELP */
.filter-wrapper {
  display: none !important;
}

/* Disable Add Media Button */
#cke_28 {
  display: none;
}

/* CKEditor fixes */
body.cke_show_borders {
  background: #fff;
  font-size: 14px;
}

body.cke_ltr, body.cke_editable {
  background: #fff;
}

/* WYSIWYG Floating Classes */
.floatleft {
  clear: both;
  float: left;
  margin: 5px 1.5em 5px 0;
}

.floatright {
  clear: both;
  float: right;
  margin: 5px 0 5px 1.5em;
}

.page-node-772 .floatleft {
  clear: none;
}

/* disable weird type:application/x-pdf line */
.file-icon > p {
  display: none;
}

.ui-accordion-icons .ui-accordion-header a {
  padding-left: 0 !important;
}

.ui-accordion .ui-accordion-content {
  padding: 0 25px 0 0px !important;
}

.ui-tabs {
  padding: 0px;
  background: none;
  border-width: 0px;
}

.ui-tabs .ui-tabs-nav {
  padding-left: 0px;
  background: transparent;
  border-width: 1px;
  border-bottom: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  white-space: normal !important;
}

.ui-tabs .ui-tabs-panel {
  background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top;
  border-width: 0px 1px 1px 1px;
}

.ui-tabs .ui-state-active a {
  background: #83BE26;
  color: #fff;
}

.ui-accordion .ui-state-active a {
  background: none;
  color: #000;
}

.ui-tabs-nav {
  border: 0;
}
.ui-tabs-nav .ui-state-active {
  border: 1px solid #bbb !important;
}
.ui-tabs-nav .ui-state-active.ui-state-hover {
  border: 1px solid #bbb !important;
}
.ui-tabs-nav .ui-state-hover {
  border: 1px solid #000 !important;
}
.ui-tabs-nav li.ui-state-default {
  border: 1px solid #bbb !important;
  border-bottom: 0 !important;
}

.jquery-ui-filter-tabs-container {
  border: 1px solid #bbb !important;
}

.ui-accordion .ui-accordion-header .ui-icon {
  right: auto !important;
  left: 0em !important;
  margin-top: -15px;
}

.ui-accordion-icons .ui-accordion-header a {
  padding-left: 1.5em !important;
  margin-right: 0 !important;
}

.ui-accordion .ui-accordion-content {
  padding: 0 !important;
}

/* Co-Sponsors View */
.co-sponsors {
  float: left;
  position: relative;
  margin-bottom: 2em;
  min-height: 250px;
}
.co-sponsors h3 {
  margin-bottom: 1em;
}
.co-sponsors img {
  margin: .4em .9em 0 0;
  float: left;
}
.co-sponsors .edit {
  position: absolute;
  left: 0;
  top: -2.5em;
}

li.views-fluid-grid-item {
  background: none;
  padding: 0;
  position: relative;
  height: 120px;
  border: 1px solid #ddd;
  margin-bottom: 0.6em;
  margin-right: 0.4em;
}
li.views-fluid-grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.node--co-sponsor img, .node--co-sponsor .field--name-field-co-sponor-logo {
  float: right;
  width: 250px;
  margin-left: 1em;
}

div.views-fluid-grid h3 {
  text-align: left;
  margin-bottom: 1em;
}

#block-views-site-follow-block, #block-follow-site {
  /*.follow-link-wrapper-facebook a:hover{
    background-position: 5px -50px;
  }*/
  /*.follow-link-wrapper-twitter a:hover{
    background-position: -35px -50px;
  }*/
  /*.follow-link-wrapper-youtube a:hover{
    background-position: -90px -50px;
  }
  .follow-link-wrapper-this-site a{
    background-position: -150px 0;
  }
  .follow-link-wrapper-this-site a:hover{
    background-position: -150px -50px;
  }*/
}
#block-views-site-follow-block a.follow-link, #block-follow-site a.follow-link {
  float: right;
  height: 34px;
  line-height: 34px;
  margin-left: 5px;
  padding-left: 28px;
  padding-right: 5px;
}
#block-views-site-follow-block span.follow-link-wrapper a, #block-follow-site span.follow-link-wrapper a {
  float: right;
  display: block;
  /*background:url(../images/social.gif) no-repeat;
  overflow: hidden;
  height: 50px;
  width: 52px;
  padding: 0;*/
  padding-left: 28px;
  background-repeat: no-repeat;
}
#block-views-site-follow-block .follow-link-wrapper-facebook a, #block-follow-site .follow-link-wrapper-facebook a {
  /*background-position: 5px 0;*/
  background: url("/profiles/make_chocolate_fair/modules/contrib/follow/icons/paulrobertlloyd32/icon-facebook.png") no-repeat;
}
#block-views-site-follow-block .follow-link-wrapper-twitter a, #block-follow-site .follow-link-wrapper-twitter a {
  /*background-position: -35px 0;*/
  background-image: url("/profiles/make_chocolate_fair/modules/contrib/follow/icons/paulrobertlloyd32/icon-twitter.png") no-repeat;
}
#block-views-site-follow-block .follow-link-wrapper-youtube a, #block-follow-site .follow-link-wrapper-youtube a {
  /*background-position: -90px 0;*/
  background-image: url("/profiles/make_chocolate_fair/modules/contrib/follow/icons/paulrobertlloyd32/icon-youtube.png") no-repeat;
}

.i18n-en .block--views-site-follow-block .views-row-1 {
  display: none;
}

/* neue Follow Links */
#block-views-follow-user-block a.follow-link {
  float: left;
}

.node--webform--progress-bar-block .addtoany {
  display: none;
}

.service-links-twitter-widget {
  margin-top: 2px;
}

.service-links-google-plus-one.last {
  margin-top: 4px;
}

.service-links ul {
  padding: 0;
  margin: 0;
}
.service-links ul li {
  list-style: none;
  float: left;
  margin-right: 1em;
}

.flexslider {
  margin: 0 0 1em 0;
  border: 0;
  border-radius: 0;
}
.flexslider .views-field-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  padding: 0 50px 0;
  background: #fff;
  opacity: 1;
  z-index: 10;
}
.flexslider .views-field-title a {
  text-decoration: none;
  font-weight: normal;
}

.front .l-content {
  margin-top: 0;
}
.front .l-region--sidebar-second {
  margin-top: 0;
}

.box {
  background: #ddd;
  padding: .5em 1em;
}

.block--search-form {
  margin: .65em 0 0 0;
}
.block--search-form input {
  height: 25px;
}
.block--search-form .search-block-form input.form-submit {
  background: url(../images/menu.png) -2px -78px no-repeat;
  text-indent: -999em;
  border: 0;
  box-shadow: none;
}

/*  .flex-direction-nav a {
    display: block !important;
  }
.flex-direction-nav a:before {
  line-height: 1;
}*/
/* Direction Nav */
/*.flex-direction-nav {*height: 0;}*/
.flex-direction-nav a {
  bottom: 3%;
  top: auto;
  opacity: 1;
}

.flex-direction-nav .flex-prev {
  left: 10px;
  opacity: 0.7;
}

.flex-direction-nav .flex-next {
  right: 10px;
  opacity: 0.7;
  text-align: right;
}

/*.flexslider:hover .flex-prev { opacity: 1; left: 10px; }
.flexslider:hover .flex-next { opacity: 1; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }*/
.flexslider .slides > li {
  overflow-y: auto;
  position: relative;
}

.tabledrag-handle {
  cursor: move;
  display: block;
  float: left;
  height: 25px;
  overflow: visible;
  text-decoration: none;
  width: 25px;
}

.tabledrag-handle .handle {
  height: 25px;
  margin: -0.4em 0;
  padding: 0.4em;
  width: 20px;
}

/*.block--system-main-menu ul li:nth-child(5) {
  display: none;
}*/
pre {
  width: 100%;
  overflow-x: scroll;
}

/*
.domain-de-makechocolatefair-org.page-node-950 #block-webform-client-block-938 img{
  display:none;
}*/
.domain-de-makechocolatefair-org.page-node-950 .block__content h2.nachgehakt {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .5em;
  clear: both;
}

.page-node-938 h2.nachgehakt {
  display: none;
}

.page-node-942 table {
  margin-top: 2em !important;
  float: left;
}

.page-node-938 .block--system-main-menu ul li:nth-child(5),
.page-node-943 .block--system-main-menu ul li:nth-child(5),
.page-node-947 .block--system-main-menu ul li:nth-child(5) {
  display: block;
}

.webform-client-form-938 {
  padding: .25em;
  background: #ffb900;
  border-radius: 3px;
}
.webform-client-form-938 .form-actions {
  text-align: center;
}
.webform-client-form-938 .webform-submit {
  width: 50%;
  padding: 1em 2em;
}

.webform-component--vorname,
.webform-component--nachname,
.webform-component--plz,
.webform-component--ort,
.webform-component--schokoladenunternehmen,
.webform-component--e-mail {
  float: left;
  width: 45%;
  clear: none;
  margin: .5em 0;
}

.webform-component--schokoladenunternehmen {
  text-align: left;
}

#webform-client-form-938 div.webform-component:nth-child(odd) {
  margin-right: 5%;
  clear: left;
}

.webform-component--betreff-label {
  float: left;
  width: 15%;
}

.webform-component--betreff {
  float: left;
  width: 77%;
  clear: none;
  margin-top: 1.1em;
}

.webform-component--nachricht {
  clear: left;
}

#edit_submitted_schokoladenunternehmen_chosen,
.description {
  width: 93% !important;
}

.block--block-15 {
  background: #fff;
  padding: .1em 1em;
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  min-height: 140px;
}

/* Tabelle  #nachgehakt Ergebnisse */
.tablesaw p {
  margin: 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.tablesaw-stack thead tr th {
  background: #7B3F06;
  color: #fff;
}

.tablesaw-stack tbody tr.even {
  background: #dfdfdf;
}

.tablesaw-stack tbody tr.odd {
  background: #ffb900;
}

/* Media query to show as a standard table at 1158px (72em x 16px) or wider */
@media (min-width: 72em) {
  .tablesaw-stack tr {
    display: table-row;
  }
}
