/*******************************************************************************
 * _base.scss
 *
 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupal's common elements for styling. By setting a solid baseline
 ******************************************************************************/
// border-box-sizing()
// @include box-sizing(border-box);
//@import "sassy-buttons";

body {
  font-family: "Noto Sans", sans-serif;
}

button, input[type=submit] {
  margin-right: 1em;
  /*@include sassy-button("simple", 0, 12px, #83BE26, #83BE26, #fff, "false")*/
  background: linear-gradient(#83BE26, #83BE26) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 1px 0 #A8DD54 inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1.5em;
}
strong, b {
  font-weight: bold;
}
table {
  width: 100%;
}
/* Disable all Block titles */
.block__title {
  display: none;
  }

/* Disable Language Selector on Editor Node Forms */
.quickbar-enabled .form-item-language {
  display: none !important;
}

/* Change IMCE user site height */
#browse-wrapper {
  height: 350px;
}
#preview-wrapper {
  height: 320px;
}
/* Image captions */
.caption p {
  font-size: .8em;
  font-weight: normal;
  fonst-style: italic;
  line-height: 1.2;
  margin-top: .2em;
}

/* No gap between headline and first paragraph */
h2, h4 {
  margin-bottom: 0;
}
h2 + p, h4 + p, h2 + h4 {
  margin-top: 0;
}