.tabledrag-handle {
    cursor: move;
    display: block;
    float: left;
    height: 25px;
    overflow: visible;
    text-decoration: none;
    width: 25px;
}
.tabledrag-handle .handle {
    height: 25px;
    margin: -0.4em 0;
    padding: 0.4em;
    width: 20px;
}