// Slideshow
/*  .flex-direction-nav a {
    display: block !important;
  }
.flex-direction-nav a:before {
  line-height: 1;
}*/

/* Direction Nav */
/*.flex-direction-nav {*height: 0;}*/
.flex-direction-nav a  {bottom: 3%; top: auto; opacity: 1;}
.flex-direction-nav .flex-prev { left: 10px; opacity: 0.7;}
.flex-direction-nav .flex-next { right: 10px; opacity: 0.7; text-align: right; }
/*.flexslider:hover .flex-prev { opacity: 1; left: 10px; }
.flexslider:hover .flex-next { opacity: 1; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }*/
.flexslider .slides > li {overflow-y: auto;position: relative;}