// Slideshow
  .flexslider {
  margin: 0;
  border: 0;
  border-radius: 0;
  .views-field-title {
    position: absolute;
    bottom: 0;
    padding: 0 1em 1em;
    background: #fff;
    opacity: .8;
    width: 100%;
    a {
      text-decoration: none;
      font-weight: normal;
    }
  }
}
/*.front {
  .l-main {
    margin-top: 0 !important;
  }
  .l-content {
    margin-top: 0 !important;
  }
  .l-region--sidebar-second {
    margin-top: 0 !important;
  }
}*/