// Footer
.footwrap {
    color: $footer_color;
    background: $footer_background;
    overflow:hidden;
}
// EU Blob
.l-region--footer-left {
    margin-bottom: $gutter-width;
}

// Funders Logos Block
.block--block--14, .block--block-14 {
  font-size: $small;
  display: table-cell;
  margin-top:$gutter-width;
  margin-bottom:$gutter-width;
  float: right;
  img {
    vertical-align: middle;
    margin-bottom:-.7em;
  }
  p, p span{
    vertical-align: bottom;
  }
  p span {
    margin-bottom:1px;
    display: inline-block;
  }
}
// Footer bottom

.footer-bottom {
  ul {
    float:left;
    margin-top: 2em;
  }
  li {
    float: left;
    list-style: none outside none;
    margin: 0 1em 1em 0;
  }
}
