// Slideshow
.flexslider {
  margin: 0 0 1em 0;
  border: 0;
  border-radius: 0;
  .views-field-title {
    position: absolute;
    bottom: 0;
    padding: 0 1em 0;
    background: #fff;
    opacity: .8;
    width: 100%;
    a {
      text-decoration: none;
      font-weight: normal;
    }
  }
}
.front {
  .l-content {
    margin-top: 0;
  }
  .l-region--sidebar-second {
    margin-top: 0;
  }
}