#block-follow-site {
  span.follow-link-wrapper a {
    float: right;
    }
  }
#block-views-site-follow-block {
        a.follow-link {
        height: 34px;
        line-height: 34px;
        margin-left: 5px;
        padding-left: 28px;
        padding-right: 5px;
    }
    span.follow-link-wrapper a {
    float: right;
    display: block;
    /*background:url(../images/social.gif) no-repeat;
    overflow: hidden;
    height: 50px;
    width: 52px;
    padding: 0;*/
    padding-left: 28px;
    background-repeat: no-repeat;
  }
  .follow-link-wrapper-facebook a{
    /*background-position: 5px 0;*/
    background: url("/sites/all/modules/contrib/follow/icons/paulrobertlloyd32/icon-facebook.png") no-repeat;
  }
  /*.follow-link-wrapper-facebook a:hover{
    background-position: 5px -50px;
  }*/
  .follow-link-wrapper-twitter a{
    /*background-position: -35px 0;*/
    background-image: url("/sites/all/modules/contrib/follow/icons/paulrobertlloyd32/icon-twitter.png") no-repeat;
  }
  /*.follow-link-wrapper-twitter a:hover{
    background-position: -35px -50px;
  }*/
  .follow-link-wrapper-youtube a{
    /*background-position: -90px 0;*/
    background-image: url("/sites/all/modules/contrib/follow/icons/paulrobertlloyd32/icon-youtube.png") no-repeat;
  }
  /*.follow-link-wrapper-youtube a:hover{
    background-position: -90px -50px;
  }
  .follow-link-wrapper-this-site a{
    background-position: -150px 0;
  }
  .follow-link-wrapper-this-site a:hover{
    background-position: -150px -50px;
  }*/
}
.i18n-en .block--views-site-follow-block .views-row-1 {
    display:none;
}

/* neue Follow Links */

#block-views-follow-user-block a.follow-link {
  float: left;
}

.node--webform--progress-bar-block .addtoany {
  display: none;
}
.service-links-twitter-widget {
    margin-top: 2px;
}
.service-links-google-plus-one.last {
    margin-top: 4px;
}

.service-links {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      float: left;
      margin-right: 1em;
    }
  }
}